<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">
        #rect{
            width: 100px;
            height: 60px;
            padding-left: 10px;
            line-height: 60px;
            background: #3498db;
            color: #FFFFFF;
            transition: width 0.5s;

        }
    </style>
</head>
<body>
    <div id="rect">
        100
    </div>
</body>
<script type="text/javascript" src="/js/simplesap.js"></script>
</html>